<pre>
Everything!
</pre>
<div class='highlight-box'>
<h1>Education</h1>
<%= image_tag "edu1.jpg", :size => "350x240", :alt => "image placeholder", :class => "float-right" %>

<p>La Fe has a variety of educational programs from our La Fe Preparatory School to a variety of adult education programs.</p>
<p>NEED TO ADD TEXT TO MAKE THIS BOX BIGGER SO THE IMAGES DOES NOT DROP OUT ON THE BOTTOM. NEED TO ADD TEXT TO MAKE THIS BOX BIGGER SO THE IMAGES DOES NOT DROP OUT ON THE BOTTOM. NEED TO ADD TEXT TO MAKE THIS BOX BIGGER SO THE IMAGES DOES NOT DROP OUT ON THE BOTTOM.</p>
<h2>Our Programs Include:</h2>
<ul>
	<li>La Fe Preparatory School</li>
	<li>GED Prep</li>
	<li>English Language Learner Program</li>
	<li>Computer Literacy</li>
	
</ul>
</div>

<hr />

<h2>La Fe Preparatory School</h2>
<%= image_tag "prep01.jpg", :size => "150x100", :alt => "image placeholder", :class => "float-right" %>
<p>The La Fe Preparatory School is a small campus with students in Pre-Kindergarten-5th Grade.</p>
<p>Small classes of no more than 16 students allow each child to receive individual and personalized attention. Students will graduate with the ability to communicate socially, academically, and professionally in both Spanish and English by participating in a dual language immersion program. Developing both languages enhances students’ higher order thinking skills rather than teaching them the simple acquisition of basic English speech and vocabulary.</p>
<p>To find out more visit the <a href="http://www.lafeprep.org">our website</a> or contact us at:</p>
<p>gtrgsfhwrth<br>
	El Paso, TX 79901
</p>

<hr />

<h2>GED Prep</h2>
<%= image_tag "placeholder.png", :size => "150x100", :alt => "image placeholder", :class => "float-right" %>
<h3>WHAT IS THE GED® TEST?</h3>
<p>The General Educational Development test measures an adult’s skills and knowledge in five subject areas – math, science, reading, writing and social studies and awards a high school credential.</p>
<p>For information and class schedules call 915.545.7190</p>
<h3>Requirements</h3>
<ul>
	<li>Prove residency</li>
	<li>Have picture ID</li>
	<li>Be 18 yrs of age</li>
	<li>Not be enrolled in school</li>
</ul>
<p>The current test series is the 2002 Series GED® Test and must be completed by December 31, 2013</p>

<hr />
<h2>English Language Learner Program</h2>
<%= image_tag "ell1.jpg", :size => "150x100", :alt => "image placeholder", :class => "float-right" %>
<p>English Language Learner Program (ELL) is for those who want to learn survival English including personal information, small talk, advice/requests, locations, opinions and fundamental pronunciation skills.</p>
<h3>Beginner</h3>
<p>Easy Conversations, Daily Life, School Life, Transportation, Entertainment, Dating, At the Restaurant, Sports, Safety, Travel, Jobs, Food, Shopping, Housing, Vote, Health</p>
<h3>Intermediate</h3>
<p>Broader range of language related to expressing opinions, describing people and things, giving advice, making suggestions, more advanced pronunciation.</p>
<p>For information and class schedules call 915.545.7190</p>


<hr />
<h2>Computer Literacy</h2>
<%= image_tag "computer1.jpg", :size => "150x100", :alt => "image placeholder", :class => "float-right" %>
<p>The course teaches basic computer skills from turning on the computer to the use of basic office applications for the creation of documents, spreadsheets and presentations. Accessing the Internet and e-mail communications are covered as well.</p>

<p>For information please contact the location nearest you.</p>
<ul>
	<li>Culture & Technology Center: 915.545.7190</li>
	<li>Montana Vista Resource Center: XXX-XXX</li>
	<li>Westway Outreach & Community Center: XXX-XXXX</li>
</ul>

<hr />
<h2>US Citizenship Preparedness Course</h2>
<%= image_tag "citizenship1.jpg", :size => "150x100", :alt => "image placeholder", :class => "float-right" %>
<p>Classes are provided to members of the community needing assistance in preparing for the English and Spanish civics components of the citizenship examination.</p>
<p>For information please contact the location nearest you.</p>
<ul>
	<li>Culture & Technology Center: 915.545.7190</li>
	<li>Montana Vista Resource Center: XXX-XXX</li>
	<li>Westway Outreach & Community Center: XXX-XXXX</li>
</ul>


	

	
	


	
		