<div class='highlight-box'>
<h1>Education</h1>
<%= image_tag "edu1.jpg", :size => "350x240", :alt => "image placeholder", :class => "float-right" %>

<p>La Fe has a variety of educational programs from our La Fe Preparatory School to a variety of adult education programs.</p>
<p>NEED TO ADD TEXT TO MAKE THIS BOX BIGGER SO THE IMAGES DOES NOT DROP OUT ON THE BOTTOM. NEED TO ADD TEXT TO MAKE THIS BOX BIGGER SO THE IMAGES DOES NOT DROP OUT ON THE BOTTOM. NEED TO ADD TEXT TO MAKE THIS BOX BIGGER SO THE IMAGES DOES NOT DROP OUT ON THE BOTTOM.</p>
<h2>Our Programs Include:</h2>
<ul>
	<li>La Fe Preparatory School</li>
	<li>GED Prep</li>
	<li>English Language Learner Program</li>
	<li>Computer Literacy</li>
	
</ul>
</div>

<hr />

<h2>La Fe Preparatory School</h2>
<%= image_tag "prep01.jpg", :size => "150x100", :alt => "image placeholder", :class => "float-right" %>
<p>The La Fe Preparatory School is a small campus with students in Pre-Kindergarten-5th Grade.</p>
<p>Small classes of no more than 16 students allow each child to receive individual and personalized attention. Students will graduate with the ability to communicate socially, academically, and professionally in both Spanish and English by participating in a dual language immersion program. Developing both languages enhances students’ higher order thinking skills rather than teaching them the simple acquisition of basic English speech and vocabulary.</p>
<p>To find out more visit the <a href="http://www.lafeprep.org">our website</a> or call us at: 915-533-3922</p>

<hr />

<h2>GED Prep</h2>
<%= image_tag "ged1.jpg", :size => "150x100", :alt => "image placeholder", :class => "float-right" %>
<h3>WHAT IS THE GED® TEST?</h3>
<p>The GED Test offers adults who left school an opportunity to earn a high school credential.  La Fe does not administer the test; however, La Fe GED Preparedness Program helps students pass the exam by providing tutoring in the five subject areas – math, social studies, science, and language arts (reading and writing).  Classes are offered on:</p>

<p>Mon - Fri<br>
	8:30 - 10:00<br>
	10:30 - 12:00<br>
	1:30 - 3:00<br>
	3:30 - 5:00</p>

<p>Note:  El Paso Community College is the only authorized GED Testing Center in El Paso and the only one that can confer valid GED certificates.</p>

<p>For information and class schedules call 915.545.7190</p>
<h3>Requirements</h3>
<ul>
	<li>Prove residency</li>
	<li>Have picture ID</li>
	<li>Be 18 yrs of age</li>
	<li>Not be enrolled in school</li>
</ul>
<p>The current test series is the 2002 Series GED® Test and must be completed by December 31, 2013</p>

<hr />
<h2>English Language Learner Program</h2>
<%= image_tag "ell1.jpg", :size => "150x100", :alt => "image placeholder", :class => "float-right" %>
<p>English Language Learner Program (ELL) is for those who want to learn survival English including personal information, small talk, advice/requests, locations, opinions and fundamental pronunciation skills.</p>
<h3>Beginner</h3>
<p>Easy Conversations, Daily Life, School Life, Transportation, Entertainment, Dating, At the Restaurant, Sports, Safety, Travel, Jobs, Food, Shopping, Housing, Vote, Health</p>
<h3>Intermediate</h3>
<p>Broader range of language related to expressing opinions, describing people and things, giving advice, making suggestions, more advanced pronunciation.</p>
<p>For information and class schedules call 915.545.7190</p>


<hr />
<h2>Computer Literacy</h2>
<%= image_tag "computer1.jpg", :size => "150x100", :alt => "image placeholder", :class => "float-right" %>
<p>This class teaches students the basic terminology used in the field of computers – input, output, CPU, memory (RAM), hard drive, CD, DVD, USB, software, hardware, etc.  In addition, it introduces students to the proper use of e-mail, Internet, spreadsheet and document creation applications.</p>
<p>Mon - Fri<br>
11:30 - 1:00<br>
1:30 - 3:00<br>
3:30 - 5:00<br>
5:30 - 7:00</p>

<p>Sat<br>
9:30 - 12:30
</p>
<p>For information please contact the Culture &amp; Technology Center: 915.545.7190</p>


<hr />
<h2>US Citizenship Preparedness Course</h2>
<%= image_tag "citizenship1.jpg", :size => "150x100", :alt => "image placeholder", :class => "float-right" %>
<p>La Fe provides US Citizenship preparedness classes that will prepare immigrants and their families for the American citizenship experience and give them the means to take their rightful place in our country’s full range of opportunities offered to its citizens and legal immigrants. It is a process that lays a direct path to a better quality of life, to an active role in our nation’s political process, and to a sense of ownership and responsibility for our community’s future.  Classes are offered on:</p>
<p>Mon - Fri<br>
	8:30 - 10:00<br>
	10:30 - 12:00<br>
	3:00 - 5:00<br>
	5:30 - 7:00
</p>
	
<p>Sat<br>
	9:30 - 12:30
</p>

<p>For information please contact the Culture &amp; Technology Center: 915.545.7190</p>



	

	
	


	
		