<pre>
Everything!
</pre>
<div class='highlight-box'>
<h1>Education</h1>
<%= image_tag "placeholder.png", :size => "350x240", :alt => "image placeholder", :class => "float-right" %>

<p>La Fe has a variety of educational programs from our La Fe Preparatory School to a variety of adult education programs.</p>
<h2>Our Programs Include:</h2>
<ul>
	<li>La Fe Preparatory School</li>
	<li>GED Prep</li>
	<li>English Language Learner Program</li>
	<li>Computer Literacy</li>
	
</ul>
</div>

<hr />

<h2>La Fe Preparatory School</h2>
<%= image_tag "prep01.jpg", :size => "150x100", :alt => "image placeholder", :class => "float-left" %>
<p>The La Fe Preparatory School is a small campus with students in Pre-Kindergarten-5th Grade.</p>
<p>Small classes of no more than 16 students allow each child to receive individual and personalized attention. Students will graduate with the ability to communicate socially, academically, and professionally in both Spanish and English by participating in a dual language immersion program. Developing both languages enhances students’ higher order thinking skills rather than teaching them the simple acquisition of basic English speech and vocabulary.</p>
<p>To find out more visit the <a href="http://www.lafeprep.org">our website</a> or contact us at:</p>
<p>gtrgsfhwrth<br>
	El Paso, TX 79901
</p>

<hr />

<h2>GED Prep</h2>
<%= image_tag "placeholder.png", :size => "150x100", :alt => "image placeholder", :class => "float-left" %>
<p>NEED COPY. NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY. NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.</p>
<p>NEED COPY. NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY. NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.</p>
<p>NEED COPY. NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY. NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.</p>


<hr />
<h2>English Language Learner Program</h2>
<%= image_tag "placeholder.png", :size => "150x100", :alt => "image placeholder", :class => "float-left" %>
<p>NEED COPY. NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY. NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.</p>
<p>NEED COPY. NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY. NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.</p>
<p>NEED COPY. NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY. NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.</p>

<hr />
<h2>Computer Literacy</h2>
<%= image_tag "placeholder.png", :size => "150x100", :alt => "image placeholder", :class => "float-left" %>
<p>NEED COPY. NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY. NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.</p>
<p>NEED COPY. NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY. NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.</p>
<p>NEED COPY. NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY. NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.</p>


<hr />
<h2>US Citizenship Preparedness Course</h2>
<%= image_tag "placeholder.png", :size => "150x100", :alt => "image placeholder", :class => "float-left" %>
<p>NEED COPY. NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY. NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.</p>
<p>NEED COPY. NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY. NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.</p>
<p>NEED COPY. NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY. NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.NEED COPY.</p>

	

	
	


	
		