<div class='highlight-box'>
<h1>Community and Family Support Services</h1>
<%= image_tag "placeholder.png", :size => "350x240", :alt => "image placeholder", :class => "float-right" %>

<p>Empowerment helps us build our own future. Access the resources you and your family need at any of our community centers. Our community-based programs include: the La Fe Senior Companion Program; the La Fe Cafe; the La Fe Culinary Arts and Education Center; Sabor Sobre Ruedas; the La Fe-Serna Ranch Youth Leadership Program; and the La Fe Printshop.</p>
<h2>Services include:</h2>
<ul>
	<li>CHIP</li>
	<li>Senior Companion</li>
	<li>Montana Vista Resource Center</li>
	<li>WIC</li>
	<li>La Fe-Serna Ranch Youth Leadership Program</li>
	<li>Culinary Arts and Education Program</li>
	<li>The Corner Printshop</li>
</ul>
</div>

<hr />

<h2>CHIP</h2>
<%= image_tag "chip1.jpg", :size => "150x100", :alt => "image placeholder", :class => "float-left" %>
<p>Children in Texas without health insurance may be able to get low cost or free health coverage from the Children’s Health Insurance Program (CHIP) or Children’s Medicaid. Both programs cover office visits, prescription drugs, dental care, eye exams, glasses, and much more.</p>
<p>Families with children who get Children’s Medicaid pay nothing and children with CHIP pay no more than $50 a year for health care coverage. Some families with CHIP also may need to pay co-pays for some services.</p>
<p>To find out more visit our offices at:</p>
<p>1225 E. Yandell<br>
	El Paso, TX 79902
</p>

<hr />

<h2>Senior Companion</h2>
<%= image_tag "scp1.jpg", :size => "150x100", :alt => "image placeholder", :class => "float-left" %>
<p>If you’re 55 and want to share your experience and compassion, you have what it takes to be a Senior Companion. By becoming a companion to a frail person, you help that person stay in their own home. Whether you’re giving families or professional caregivers much-needed time off, running errands, or simply being a friend, you’ll make a difference that strengthens and helps preserve an individual’s independence. And you’ll join with thousands of others to help control the rising costs of health care.</p>
<p>Senior Companions serve up to 40 hours per week. Some volunteers may qualify to earn a tax-free, hourly stipend. With Senior Companions, you’ll receive pre-service orientation, training from the organization where you serve, and supplemental accident and liability insurance while on duty.</p>
<p>To find out more visit our offices at:</p>
<p>1225 E. Yandell<br>
	El Paso, TX 79902
</p>

<hr />
<h2>Montana Vista Resource Center</h2>
<%= image_tag "mv01.jpg", :size => "150x100", :alt => "image placeholder", :class => "float-left" %>
<p>The La Fe Montana Vista Community & Satellite Resource Center serves as a conduit of information for residents of colonias in Far East El Paso County that are located east of Loop 375 and the Montana Street Intersection. The centers normal business hours are Monday through Friday from 8 a.m. to 5 p.m.</p>
<p>The center has an After-School Program for children 8 to 24 years of age who are enrolled in school. The center also serves as a public computer center for anyone who knows how to use a computer, but does not have one at home or who does not have Internet service at home. Anyone who wants to learn how to use a computer and/or learn how to access the Internet can on a first come first served basis, sign up for basic computer classes or our open computer lab.</p>
<p>Additional activities or services include; Aerobics classes; Arts & crafts Class; Citizenship & Conversational English tutoring classes; Health & Wellness presentations; Immunizations; Legal Advice consultation appointments; Emergency Food Pantry (when food is available to us); Nutrition Program for Senior Citizens; referrals to the Pets Alive spay/neuter & vaccination program for dogs & cats; and Medicaid, Food Stamp & CHIP intake services by staff from the Texas Health & Human Services. </p>

<hr />
<h2>WIC</h2>
<%= image_tag "wic1.jpg", :size => "150x100", :alt => "image placeholder", :class => "float-left" %>
<p>WIC provides Federal grants to States for supplemental foods, health care referrals, and nutrition education for low-income pregnant, breastfeeding, and non-breastfeeding postpartum women, and to infants and children up to age five who are found to be at nutritional risk.</p>
<p>The WIC food packages provide supplemental foods designed to meet the special nutritional needs of low-income pregnant, breastfeeding, non-breastfeeding postpartum women, infants and children up to five years of age who are at nutritional risk. WIC food packages and nutrition education are the chief means by which WIC affects the dietary quality and habits of participants.</p>
<p>To find out more visit the WIC Program website or visit our offices at:</p>
<p>Central Clinic<br>
	700 S. Ochoa<br>
	El Paso, TX 79901
</p>

<hr />
<h2>La Fe Serna Ranch Youth Leadership Program</h2>
<%= image_tag "serna1.jpg", :size => "150x100", :alt => "image placeholder", :class => "float-left" %>
<p>This unique program teaches our inner-city's youth about the community's rich Mexican-American farming and vaquero history, heritage, camping and outdoor skills, environmental responsibility, ranching, and animal husbandry.</p>
<p>Please for more information please contact us at:<p>
<p>Culture & Technology Center<br>
	915-545-7190
</p>

<hr />
<h2>Culinary Arts and Education Program</h2>
<%= image_tag "culinary1.jpg", :size => "150x100", :alt => "image placeholder", :class => "float-left" %>
<p>Healthy living begins in the kitchen. La Fe's Culinary Arts and Education Program teaches our community members how to be smarter, healthier home cooks and grocery shoppers. Our program also teaches street Empowerment Zone food vendors how to become certified, licensed, and prepare healthier meals for public sale.</p>
<p>Please for more information please contact us at:<p>
<p>Culture & Technology Center<br>
	915-545-7190
</p>



<hr />
<h2>The Corner Printshop</h2>
<%= image_tag "printshop1.jpg", :size => "150x100", :alt => "image placeholder", :class => "float-left" %>
<p>The Corner Print Shop is here to make you stand out with professional, high quality printing solutions. The Corner Print Shop is locate it at 1300 E. Yandell El Paso, TX 79902.  We look forward to working with you and your business because when you succeed, we succeed.</p>
<p>To place an order with The Corner Print Shop or get help with a new project please give us a call to 915.545.7240 or 915. 533.1442</p>
<h3>Here is a short list of products we offer:</h3>
<p>Print Cards, Print Labels, Print Posters, Advertising Specialties, Black and White Copies, Booklets, Brochures, Business Cards, Business Forms, Calendars, Carbonless Forms, Catalogs, Color Copies, Company Logo Specialty Items, Computer Forms, Continuous Forms, Coupons, Digital Copies, Digital Output, Envelopes, Flyers, Index Tabs, Invitations, Labels, Legal Copies, Letterhead, Manuals, Medical Forms, Memo Pads, Menus, Napkins, Newsletters, Note Pads, Notebooks, Personal Stationery, Political Campaign Materials, Post Cards, Post-It Notes, Posters, Procedure Manuals, Product Sheets, Raffle Tickets/Books, Reply Cards, Resumes, Stationery, Tickets, Wedding invitations, party invitations.</p>
<h3>Services:</h3>
<p>Binding, Collateral Material, Color Copying, Color Duplicating, Color Output, Comb Binding, Cutting, Design, Folding, Full-Color Printing, Lamination, Logo Design, Numbering, Offset Printing, Perforation, Pickup and Delivery, Saddle Stitching, Scoring,  Wire Binding, Fax Service</p>

	

	
	