<pre>
	To do:
	 - Add list of services offered for each site
	 - Add Jose Roman Clinic
	 - Add Yandell Adult Clinic
	 - clean up Register as a patient box
</pre>
<div class="row">	
	
	<div class="span-two-thirds">
		<h1>Health Care Services</h1>
		<%= image_tag "healthcare-b1.jpg", :size => "200x150", :alt => "Doctor seeing child patient", :class => "float-left" %>
		<p>Over its history, La Fe has steadily increased access to quality preventive and primary health care services by expanding its vision to encompass the many health risks its service population must overcome. To meet the challenge of community well-being for a predominately Mexican-American service population, La Fe has established a bilingual, 	multi-cultural, and qualified staff of over 200 medical, dental, nursing, support, and community health professionals that serve the community with quality care and “alma y corazón” (heart and soul).</p>
		<p>During this legacy, La Fe has also expanded its service sites to create better access to comprehensive human services. Over the last ten years, La Fe has grown from one service site to a network of 6 Primary Care clinics, 4 community outreach satellites, a comprehensive HIV/AIDS clinic, an affordable housing initiative, and a comprehensive health promotion/disease prevention facility – the Child and Adolescent Wellness Center.</p>
		<p>Through these multiple sites and programs La Fe has provided comprehensive medical and dental services to over 21,000 clients through 80,000 services encounters.  Because each clinic is located in a Medically Underserved Area and a Health Professional Shortage Area (designations by the US Department of Health and Human Services), La Fe has been able to reach vulnerable border populations with accessible and appropriate services.</p>
	</div>
	
	<div class="span-one-third side-bar">
		<h2>Register as a Patient</h2>
		<p>Anyone living in El Paso County can become a La Fe member. Bring the following three documents to your registration appointment:</p>
		<ul>
		<li>State-issued photo ID</li>
		<li>Proof of income</li>
		<li>Proof of address</li>
		</ul>
		<p>For more information or to make a registration appointment call (915) 545-4550.</p>
		
		<h2>Medical Service Costs</h2>
		<p>Centro de Salud Familiar La Fe offers affordable and quality medical services to El Paso County residents regardless of their income. Low-income families, living in certain El Paso County-Area Census tracts, may qualify for discounts. To find out if you qualify for a discount, please call (915) 545-4550.</p>


		
	</div>	

</div>

<hr />

<div class="row">
	<div class="span-two-thirds">
		<h2>Central Clinic</h2>
		<%= image_tag "clinics/central.jpg", :size => "300x168", :alt => "Central Clinic", :class => "float-left" %>
		<p>Central Clinic is Largest Clinic. Need Copy Need Copy Need Copy Need Copy Need Copy Need Copy Need Copy Need Copy Need Copy Need Copy Need Copy Need Copy Need Copy Need Copy Need Copy Need Copy Need Copy Need Copy Need Copy Need Copy Need Copy Need Copy Need Copy Need Copy Need Copy Need Copy Need Copy Need Copy Need Copy Need Copy Need Copy Need Copy Need Copy Need Copy Need Copy Need Copy Need Copy Need Copy Need Copy Need Copy Need Copy Need Copy Need Copy Need Copy Need Copy Need Copy Need Copy Need Copy Need Copy Need Copy Need Copy Need Copy Need Copy Need Copy Need Copy Need Copy Need Copy Need Copy Need Copy Need Copy Need Copy Need Copy Need Copy Need Copy</p>
		<p>700 S. Ochoa St.<br>
			El Paso, TX 79901<br>
			Phone: (915) 545-4550
		</p>
		<a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=700+S.+Ochoa+St.+El+Paso,+TX+79901&sll=37.0625,-95.677068&sspn=56.856075,114.169922&ie=UTF8&hq=&hnear=700+S+Ochoa+St,+El+Paso,+Texas+79901&z=17">View Street Map</a>
		
	</div>
	<div class="span-one-third">
		<h2>Wellness Center</h2>
		<%= image_tag "clinics/cawc.jpg", :size => "300x168", :alt => "Wellness Center", :class => "float-left" %>
		<p>721 S. Ochoa St.<br>
			El Paso, TX 79901<br>
			Phone: (915) 545-7090
		</p>
		<a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=721+S.+Ochoa+St.+El+Paso,+TX+79901&sll=31.753854,-106.479722&sspn=0.007554,0.013937&ie=UTF8&hq=&hnear=721+S+Ochoa+St,+El+Paso,+Texas+79901&ll=31.753222,-106.480415&spn=0.007554,0.013937&z=17">View Street Map</a>

	</div>
</div>

<hr />

<div class="row">
	<div class="span-one-third">
		<h2>San Elizario Clinic</h2>
		<%= image_tag "clinics/sanelizario.jpg", :size => "300x168", :alt => "San Elizario Clinic", :class => "float-left" %>
		<p>1313 San Antonio<br>
			San Elizario, TX 79849<br>
			Phone: (915)  851-5519
		</p>
		<a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=1313+San+Antonio+San+Elizario,+TX+79849&sll=31.767033,-106.48535&sspn=0.007553,0.013937&ie=UTF8&hq=&hnear=San+Antonio,+San+Elizario,+El+Paso,+Texas+79849&z=17">View Street Map</a>
		
	</div>
	<div class="span-one-third">
		<h2>La Fe CARE Center</h2>
		<%= image_tag "clinics/care.jpg", :size => "300x168", :alt => "CARE Clinic", :class => "float-left" %>
		<p>1505 Mescalero<br>
			El Paso, TX 79925<br>
			Phone: (915) 772-3366
		</p>
		<a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=1505+Mescalero+El+Paso,+TX+79925&sll=31.589235,-106.273247&sspn=0.007567,0.013937&ie=UTF8&hq=&hnear=1505+Mescalero+Dr,+El+Paso,+Texas+79925&z=17">View Street Map</a>
		
		
	</div>
	<div class="span-one-third">
		<h2>Westway Clinic</h2>
		<%= image_tag "clinics/westway.jpg", :size => "300x168", :alt => "Westway Clinic", :class => "float-left" %>
		<p>1713 Banker Rd.<br>
			Canutillo, TX 79835<br>
			Phone: (915) 231-4370
		</p>
		<a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=1713+Banker+79835&sll=37.0625,-95.677068&sspn=56.856075,114.169922&ie=UTF8&hq=&hnear=1713+Banker+Rd,+Canutillo,+El+Paso,+Texas+79835&z=17&iwloc=A">View Street Map</a>
	</div>	
</div>
<hr />
<div class="row">
	<div class="span-one-third">
		<h2>Lisbon Clinic</h2>
		<%= image_tag "clinics/lisbon.jpg", :size => "300x168", :alt => "Lisbon Clinic", :class => "float-left" %>
		<p>Lisbon<br>
			Canutillo, TX 79835<br>
			Phone: (915) 231-4370
		</p>
		<a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=1713+Banker+79835&sll=37.0625,-95.677068&sspn=56.856075,114.169922&ie=UTF8&hq=&hnear=1713+Banker+Rd,+Canutillo,+El+Paso,+Texas+79835&z=17&iwloc=A">View Street Map</a>
	</div>
	<div class="span-one-third">
		<h2>Lisbon Clinic</h2>
		<%= image_tag "clinics/lisbon.jpg", :size => "300x168", :alt => "Lisbon Clinic", :class => "float-left" %>
		<p>Lisbon<br>
			Canutillo, TX 79835<br>
			Phone: (915) 231-4370
		</p>
		<a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=1713+Banker+79835&sll=37.0625,-95.677068&sspn=56.856075,114.169922&ie=UTF8&hq=&hnear=1713+Banker+Rd,+Canutillo,+El+Paso,+Texas+79835&z=17&iwloc=A">View Street Map</a>
	</div>
	<div class="span-one-third">
		<h2>Lisbon Clinic</h2>
		<%= image_tag "clinics/lisbon.jpg", :size => "300x168", :alt => "Lisbon Clinic", :class => "float-left" %>
		<p>Lisbon<br>
			Canutillo, TX 79835<br>
			Phone: (915) 231-4370
		</p>
		<a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=1713+Banker+79835&sll=37.0625,-95.677068&sspn=56.856075,114.169922&ie=UTF8&hq=&hnear=1713+Banker+Rd,+Canutillo,+El+Paso,+Texas+79835&z=17&iwloc=A">View Street Map</a>
	</div>
	
</div>
		
		

