<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Centro de Salud Familiar La Fe | <%= @title %></title>

  <%= stylesheet_link_tag "main" %>
  <%= stylesheet_link_tag "responsive" %>
  <%= stylesheet_link_tag "app" %>
  <%= stylesheet_link_tag @container %>

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>

<body>
  <div class="navbar-wrapper">
    <div class="container">
      <div class="navbar navbar-inverse">
        <div class="navbar-inner">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "La Fe", root_path, :class => "brand" %>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><%= link_to "About", about_path %></li>

              <li class="dropdown">
                <%= link_to "Health Care", healthcare_path, :class => "dropdown-toggle", "data-toggle" => "dropdown" %>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>

              
              <li><%= link_to "Community", familysupport_path %></li>
              <li><%= link_to "Education", education_path %></li>
              <li><%= link_to "Cultural Arts", culturalarts_path %></li>
              <li><%= link_to "Careers", careers_path %></li>
              <li><%= link_to "Contact", contact_path %></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div> 
  </div>

  <div class="<%= @container %>">
    <%= yield %>

    <footer class="container">
      <div class="row">
        <div class="span8">
          <h3>La Fe is a proud member of:</h3>          
          <div class="footer-member">
            <a class="float-left" href="http://www.jointcommission.org/"><%= image_tag "tjc.png", :size => "75x75", :alt => "The Joint Commission Seal" %></a>
            <p>The Joint Commission, an independent nonprofit organization, accredits and certifies more than 19,000 health-care organizations and programs in the United States.</p>  
          </div>
          <div class="footer-member">
            <a class="float-left" href="http://www.tachc.org/"><%= image_tag "tachc.png", :size => "53x75", :alt => "TACHC Logo" %></a>
            <p>The Texas Association of Community Health Centers (TACHC) is a private, nonprofit membership association that represents safety- net health-care providers in the state of Texas.</p> 
          </div>
          <div class="footer-member">
            <a class="float-left" href="http://www.nachc.com/"><%= image_tag "nachc.png", :size => "75x75", :alt => "NACHC Logo" %></a>
            <p>Founded in 1971, The National Association of Community Health Centers works with a network of health centers and primary-care organizations through advocacy, public education, training, and stakeholder alliances.</p>  
          </div>

          <div class="footer-member">
            <a class="float-left" href="http://www.nclr.org/"><%= image_tag "nclr.png", :size => "114x75", :alt => "NCLR Logo" %></a>
            <p>The National Council of La Raza (NCLR)—the largest national Hispanic civil rights and advocacy organization in the United States—works to improve opportunities for Hispanic Americans.</p> 
          </div>

          <div class="footer-member">
            <a class="float-left" href="http://www.aids-ed.org/"><%= image_tag "aetc.png", :size => "75x75", :alt => "AETC Logo" %></a>
            <p>The AIDS Education and Training Center conducts multidisciplinary education and training programs for health-care providers treating persons living with HIV/ AIDS.</p> 
          </div>

          <h3 class="clear-both">Helpful Sites</h3>
          <ul>
            <li><a href="http://www.phccares.com/">Physicians Health Choice</a></li>
            <li><a href="http://www.texascommunitycare.com/index.php">Texas Community Care</a></li>
            <li><a href="http://www.humana.com/">Humana</a></li>
            <li><a href="http://www.bravohealth.com/">Bravo Health</a></li>
            <li><a href="http://www.elpasotexas.gov/health/">El Paso Department of Public Health</a></li>
            <li><a href="http://www.dshs.state.tx.us/">Texas Department of State Health Services</a></li>
            <li><a href="http://www.poisoncenter.org/">West Texas Regional Poison Center</a></li>
          </ul>
        </div>

        <div class="span4">
          <h3>Our Mission:</h3>
          <p class="fancy-font">To improve the quality of life of those we serve by continuously enhancing the health and human services provided.</p>
          <%= image_tag "logo.png", :size => "72x72", :alt => "La Fe Logo" %>
          <p>
            Centro de Salud Familiar La Fe, Inc.<br />
            1314 E. Yandell<br />
            El Paso, Tx 79902<br />
          </p>
          <p>Administration Office - p: (915) 534-7979</p>
          <p>&copy; 2012</p>
          <br />
          <%= image_tag "fb32.png", :size => "32x32", :alt => "Facebook Icon", :class => "float-left" %>
          <p><a href="https://www.facebook.com/pages/Centro-de-Salud-Familiar-La-Fe-Inc/379365831992">Follow us on Facebook</a></p>
        </div>
      </div>
    </footer>

</div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <%= javascript_include_tag "bootstrap" %>
    <script>
      !function ($) {
        $(function(){
          // carousel demo
          $('#myCarousel').carousel()
        })
      }(window.jQuery)
    </script>
    <%= javascript_include_tag "holder" %>
</body>
</html>
