      <div class="span12 banner-container">
		  	  
        <div id="banner1" class="span12 banner">
		      <h4>Health is...</h4>
          <h1>Bienestar</h1>
          <p>Strengthening families and community by improving health, <br>education, economic success, and cultural arts enrichment.</p>
          <p><%= link_to "Learn more &raquo;".html_safe, healthcare_path, :class => "btn primary large" %></p>
        </div>
		
        <div id="banner2" class="span12 banner">
          <h4>Health is...</h4>
          <h1>Nutrition</h1>
          <p>Food is good to eat-- however it is important to eat the right type of food. <br>Our Nutrition classes will keep you healthy and ward off diabetes.</p>
          <p><%= link_to "Learn more &raquo;".html_safe, healthcare_path, :class => "btn primary large" %></p>
        </div>
				
        <div id="banner3" class="span12 banner">
          <h4>Health is...</h4>
          <h1>Quality Education</h1>
          <p>Through our adult education programs and charter school <br>La Fe is giving our community the skills they need to build a better future.</p>
          <p><%= link_to "Learn more &raquo;".html_safe, education_path, :class => "btn primary large" %></p>
        </div>
		
        <div id="banner4" class="span12 banner">
          <h4>Health is...</h4>
          <h1>Dignified Housing</h1>
          <p>La Fe's Magoffin Park Villas are helping to restore the health of <br>our neighborhood while  keeping our roots intact.</p>
          <p><%= link_to "Learn more &raquo;".html_safe, healthcare_path, :class => "btn primary large" %></p>
        </div>
		
        <div id="banner5" class="span12 banner">
          <h4>Health is...</h4>
          <h1>Culture</h1>
          <p>La Fe keeps our traditions close to our hearts <br>through music and arts.</p>
          <p><%= link_to "Learn more &raquo;".html_safe, culturalarts_path, :class => "btn primary large" %></p>
        </div>
		
		
        <div id="banner6" class="span12 banner">
          <h4>Health is...</h4>
          <h1>Community</h1>
          <p>La Fe is empowering our familes and youth through <br>community participation in local events.</p>
          <p><%= link_to "Learn more &raquo;".html_safe, healthcare_path, :class => "btn primary large" %></p>
        </div>		
		
      </div>